# ignoring temp files
.DS_Store
.ipynb_checkpoints
.idea
__pycache__
/tmp/*
temp.*
/uhgg/sandbox.ipynb
/uhgg/test/*

# ignoring old Ben's code
/uhgg/Ben's code/*
/uhgg/__pycache__

# ignoring all notes, for now
/notes/*

# ignoring all subfolders w/ simulation output but not code
/simulations/*/
/simulations/*.txt

# ignoring output plots
/simulations/*.png
/simulations/*plot*

# ignoring intermediate numerics files
/numerics/*
!/numerics/lambda2_numerics.ipynb
!/numerics/README.md

# ignoring large data files
/simulations/*.out
/uhgg/genomes-all_metadata.tsv
/uhgg/*.xlsx
/uhgg/syn/*

# ignoring posters and slides
/posters/*
/slides/*
/talks/*

# ignoring figures, for now
/figures/*

# except for the cleaned-up versions
!/figures/fig[123456789].ipynb
!/figures/fig10.ipynb
!/figures/fig*data.ipynb

# ignoring the paper folder
/paper/*
