# ignoring temp files
.DS_Store
.ipynb_checkpoints
temp.*

# ignoring some notes 
/notes/Ben's project ideas 11.07.21.pdf

# ignoring all subfolders (w/ output) but not files in code
/code/*/

# ignoring modifications of plot_le.py for different regimes

# ignoring output plots
/code/*.png

# ignoring large data files
/code/*.out
/uhgg/genomes-all_metadata.tsv
